[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
psycopg2 = "*"
django-ckeditor = "*"
django-allauth = "*"
django-admin-interface = "*"


[dev-packages]

[requires]
python_version = "3.8"
